.main-chat
  .main-chat__header
    .main-chat__header__group
      .main-chat__header__group__user-name
        Group name
      .main-chat__header__group__member
        Member
    .main-chat__header__edit
      Edit

  .main-chat__message
    .main-chat__message__box
      .main-chat__message__box__name
        mizuno
      .main-chat__message__box__date
        2019/11/26
    .main-chat__message__text
      This is a first message.

  .form
    %form
      %input.form__message
      .form__mask
        %label.form__mask__image
          = icon('fa','image',class: 'icon')
          %input.hidden{type: 'file'}
      %input.form__submit{type: 'submit', value: 'Send'}