.chat-side
  .side-header
    .side-header__box
      .side-header__box__user-name
        ログイン名
      .side-header__box__menu
        .side-header__box__menu__new-group
          = link_to "#", class: "header--btn" do
            = icon('fas', 'edit')
        .side-header__box__menu__edit
          = link_to "#", class: "header--btn" do
            = icon('fas', 'cog')

  .side-contents
    .side-contents__message
      .side-contents__message__title
        sample
      .side-contents__message__text
        good bye world
      .side-contents__message__title
        sample
      .side-contents__message__text
        good bye world
      .side-contents__message__title
        sample
      .side-contents__message__text
        good bye world
